:root {
  --header-size: 60px;
  --hamburger-menu-width: 18px;
  --hamburger-menu-padding: 20px;
}

header {
  position: sticky;
  top: 0;
  height: var(--header-size);
  background: transparent;
  z-index: 100;
  color: #ddd;
}
header ul {
  list-style: none;
  overflow: hidden;
  background-color: transparent;
  opacity: 0.97;
}
header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
header li a:hover,
header .menu-btn:hover {
  color: rgb(75, 156, 132);
}

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  margin-right: 80px;
}
header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px var(--hamburger-menu-padding);
  position: relative;
  user-select: none;
}
header .menu-icon .navicon {
  background: #ddd;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: var(--hamburger-menu-width);
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #ddd;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
header .menu-icon .navicon:before {
  top: 5px;
}
header .menu-icon .navicon:after {
  top: -5px;
}
header .menu-btn {
  display: none;
}


header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.logo {
  padding: 10px 0;
  width: 30px;
  position: absolute;
  left: 50px;
}
/* @media (min-width: 54em) { */
@media (min-width: 460px) {
  header li {
    float: left;
  }
  header li a {
    padding: 20px 20px;
  }
  header ul {
    background: transparent;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}
